<h1>Events</h1>
<% if current_user.try(:admin?) %>
  <p><%= button_to "Add Event", new_event_path, {:method => :get } %>
  <ul>
    <% @events.each do |event| %>
      <li><%= link_to event.name, event_path(event) %></li>
      <li><%= event.location.name %></li>
      <li><%= event.start_time %></li>
      <li><%= event.end_time %></li>
    <% end %>
  </ul>
<% end %>
