<h1>Add a New Event</h1>

<%= form_for @event do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>  </div>

  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
