<h1><%= @event.name %></h1>

<div class="map columns large-6 small-12">
  <iframe
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAZq82yGEMJ5jtxtW2071cV8rGkmIOQwVE&q=<%= @map_params %>">
  </iframe>
</div>
<p><%= @event.location.name %></p>
<p><%= @event.location.address %></p>
<p><%= "#{@event.location.city}, #{@event.location.state}" %></p>

<p>About this event: <%= @event.description %></p>
